.container {
  display: flex;
  width: 100%;
}

.gap {
  min-width: 290px;
}

.wrapper {
  padding: 50px;
  display: grid;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #0C145A;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #0C145A;
  margin-bottom: 14px;
}

.card-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.table-transactions {
  display: inherit;
  max-width: 1130px;
  padding: 20px 30px;
  background-color: #FFFFFF;
  border-radius: 16px;
  overflow-x: auto;
}

.table-head-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.gap-table {
  width: 100px;
}

.table-head-game {
  width: 230px;
  font-size: 16px;
  color: #0C145A;
}

.table-head {
  width: 110px;
  text-align: center;
  font-size: 16px;
  color: #0C145A;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding: 120px 50px 50px;
  }

  .gap {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 80px 30px 30px;
  }
}