.container {
  width: 100%;
  padding: 0px 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  height: 94px;
  border-right: 1.5px solid #E7EAF5;
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0px 40px;
    flex-direction: column;
  }
  
  .vertical-line {
    height: 0px;
    width: 100%;
    border-right: none;
    border-bottom: 1.5px solid #E7EAF5;
    margin: 30px auto;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0px 20px;
  }
}