.container {
  width: 100%;
  padding: 0px 100px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #0C145A;
  margin-bottom: 10px;
}

.subtitle {
  color: #0C145A;
  margin-bottom: 50px;
}

.product-detail-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.product-detail-image-wrapper {
  position: relative;
  width: 280px;
  height: 380px;
  border-radius: 26px;
}

.product-detail-image {
  border-radius: 26px;
  object-fit: cover;
}

.title-wrapper-mobile {
  display: none;
}

.title-wrapper-desktop {
  display: block;
}

.product-detail {
  width: 75%;
  margin-left: 50px;
}

.title, .tagline {
  font-size: 32px;
  font-weight: bold;
  color: #0C145A;
  margin-bottom: 10px;
}

.category {
  color: #7E8CAC;
  margin-bottom: 50px;
}

.line {
  margin-bottom: 50px;
}

.verify-input, .bank-account-input {
  width: 40%;
  margin-bottom: 50px;
}

.topup-title, .payment-title {
  font-weight: 600;
  color: #0C145A;
  margin-bottom: 10px;
}

.price-card {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 260px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.payment-card {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.button-wrapper {
  width: 170px;
}

@media screen and (max-width: 1500px) {
  .verify-input, .bank-account-input {
    width: 50%;
  }
}

@media screen and (max-width: 1300px) {
  .verify-input, .bank-account-input {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0px 40px;
  }

  .product-detail-wrapper {
    flex-direction: column;
  }

  .game-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
  }

  .product-detail-image-wrapper {
    margin-right: 50px;
    width: 205px;
    height: 250px;
  }

  .product-detail {
    width: 100%;
    margin-left: 0px;
  }

  .category {
    margin-bottom: 0px;
  }

  .title-wrapper-mobile {
    display: block;
  }
  
  .title-wrapper-desktop {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .verify-input {
    width: 100%;
  }

  .bank-account-input {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .container {
    padding: 0px 20px;
  }

  .card-wrapper {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 550px) {
  .product-detail-image-wrapper {
    margin-right: 20px;
    height: 230px;
  }
}

@media screen and (max-width: 500px) {
  .product-detail-image-wrapper {
    margin-right: 20px;
    height: 200px;
  }

  .title {
    font-size: 24px;
  }
  
  .tagline {
    font-size: 24px;
  }
  
  .category {
    font-size: 16px;
  }
}