.container {
  max-width: 80%;
  align-items: center;
  display: flex;
  padding: 0px 100px;
  margin: 100px auto;
  justify-content: center;
}

@media screen and (max-width: 1500px) {
 .container {
  max-width: 90%;
 }
}

@media screen and (max-width: 1330px) {
  .container {
    max-width: 100%;
    gap: 0%;
 }
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}

.slogan-greeting {
  color: #7E8CAC;
  margin-bottom: 12px;
  width: 50%;
}

.slogan-main {
  font-size: 42px;
  font-weight: bold;
  color: #0C145A;
  margin-bottom: 30px;
  position: relative;
}

.underline-style-exp {
  top: 105px;
  left: 0;
  width: 238.5px;
  position: absolute;
  height: 8px;
  background-color: #00BAFF;
  z-index: -2;
}

.underline-style-new {
  top: 42px;
  left: 301px;
  width: 96px;
  position: absolute;
  height: 8px;
  background-color: #00BAFF;
  z-index: -2;
}

.slogan-description {
  color: #0C145A;
  width: 500px;
  margin-bottom: 40px;
  line-height: 2;
}

.action {
  display: flex;
  align-items: center;
}

.learn-more {
  margin-left: 30px;
  text-decoration: underline;
  color: #0C145A;
}

.illustration {
  min-width: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  background-color: rgba(255, 255, 255, 0);
}

.rate-illustration {
  width: 207px;
  height: 112px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 8px 8px 58px 0px rgba(0 0 0 / 10%);
  padding: 14px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100px;
}

.ri-profile {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.ri-image {
  border-radius: 100%;
  margin-right: 10px;
} 

.ri-profile-name {
  font-size: 14px;
  font-weight: 600;
  color: #0C145A;
}

.ri-profile-profesion {
  font-size: 12px;
  font-weight: 300;
  color: #7E8CAC;
}

.star-image {
  margin-right: 4px;
}

.game-illustration {
  width: 130px;
  height: 177px;
  background-color: #fff;
  box-shadow: -8px 8px 58px 0px rgba(0 0 0 / 10%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 200px;
}

.gi-image {
  border-radius: 100%;
  margin-bottom: 19px;
}

.gi-title {
  font-size: 14px;
  font-weight: 600;
  color: #0C145A;
}

.gi-game-name {
  font-size: 12px;
  font-weight: 300;
  color: #7E8CAC;
}

.gi-new {
  width: 40px;
  height: 18px;
  background-color: #00BAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: absolute;
  top: 90px
}

.gi-new p {
  font-size: 10px;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0px auto;
    padding: 0px 40px;
    padding-bottom: 50px;
  }

  .illustration {
    display: none;
  }

  .slogan {
    width: 100%;
    margin-top: 20px;
  }

  .underline-style-exp, .underline-style-new {
    display: none;
  }

  .slogan-main {
    width: 50%;
  }

  .action {
    flex-direction: column;
  }

  .learn-more {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .slogan-main {
    width: 60%;
  }
}

@media screen and (max-width: 890px) {
  .slogan-main {
    width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .slogan-main {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    margin-top: 25px;
    padding: 0px 20px;
    padding-bottom: 50px;
  }

  .slogan-description {
    width: auto;
  }
}